<h1>Listing profiles</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Dob</th>
    <th>Image</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Social security no</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.first_name %></td>
    <td><%= profile.last_name %></td>
    <td><%= profile.dob %></td>
    <td><%= profile.image %></td>
    <td><%= profile.street %></td>
    <td><%= profile.city %></td>
    <td><%= profile.state %></td>
    <td><%= profile.zipcode %></td>
    <td><%= profile.phone %></td>
    <td><%= profile.fax %></td>
    <td><%= profile.social_security_no %></td>
    <td><%= profile.user_id %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
