<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>Dob:</b>
  <%= @profile.dob %>
</p>

<p>
  <b>Image:</b>
  <%= @profile.image %>
</p>

<p>
  <b>Street:</b>
  <%= @profile.street %>
</p>

<p>
  <b>City:</b>
  <%= @profile.city %>
</p>

<p>
  <b>State:</b>
  <%= @profile.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @profile.zipcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @profile.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @profile.fax %>
</p>

<p>
  <b>Social security no:</b>
  <%= @profile.social_security_no %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
