<% if user_signed_in? %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
<% end %>
  <div class="large-7 columns left left_25px ">
    <%# f.label :Date_Of_Birth %>
    <%= f.date_select :dob, :prompt => { :day => 'Date', :month => 'Month', :year => 'Year' } %>
  </div>
  <% if user_signed_in? %>
  <div class="large-7 columns left ">
    <%# f.label :image %>
    <%= f.text_field :image %>
  </div>
  <% end %>
  <div class="large-7 columns left ">
    <%# f.label :street %>
    <%= f.text_field :street,:placeholder => "Street", :class => "sign_up_input" %>
  </div>
  <div class="large-7 columns left ">
    <%# f.label :city %>
    <%= f.text_field :city,:placeholder => "City", :class => "sign_up_input" %>
  </div>
  <div class="large-7 columns left ">
    <%# f.label :state %>
    <%= f.text_field :state,:placeholder => "State", :class => "sign_up_input" %>
  </div>
  <div class="large-7 columns left ">
    <%# f.label :zipcode %>
    <%= f.text_field :zipcode,:placeholder => "Zip Code", :class => "sign_up_input" %>
  </div>
  <div class="large-7 columns left ">
    <%# f.label :phone %>
    <%= f.text_field :phone,:placeholder => "Phone", :class => "sign_up_input" %>
  </div>
  <% if user_signed_in? %>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :social_security_no %><br />
    <%= f.text_field :social_security_no %>
  </div>
<% end %>