<% if user_signed_in? %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
<% end %>
  <div class="field large-9 columns left left_50px push-1 ">
    <%# f.label :Date_Of_Birth %><br />
    <%= f.date_select :dob, :prompt => { :day => 'Select date', :month => 'Select month', :year => 'Select year' } %>
  </div>
  <% if user_signed_in? %>
  <div class="field large-9 columns left left_50px">
    <%# f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <% end %>
  <div class="field large-9 columns left left_50px">
    <%# f.label :street %><br />
    <%= f.text_field :street,:placeholder => "Street", :class => "sign_up_input" %>
  </div>
  <div class="field large-9 columns left left_50px">
    <%# f.label :city %><br />
    <%= f.text_field :city,:placeholder => "City", :class => "sign_up_input" %>
  </div>
  <div class="field large-9 columns left left_50px">
    <%# f.label :state %><br />
    <%= f.text_field :state,:placeholder => "State", :class => "sign_up_input" %>
  </div>
  <div class="field large-9 columns left left_50px">
    <%# f.label :zipcode %><br />
    <%= f.text_field :zipcode,:placeholder => "Zip Code", :class => "sign_up_input" %>
  </div>
  <div class="field large-9 columns left left_50px">
    <%# f.label :phone %><br />
    <%= f.text_field :phone,:placeholder => "Phone", :class => "sign_up_input" %>
  </div>
  <% if user_signed_in? %>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :social_security_no %><br />
    <%= f.text_field :social_security_no %>
  </div>
<% end %>