
<aside id="comments" class="left large-12 columns comment_outer_box">
<h4 class="large-10 left">Comments</h4><div class="comment_count"><% if @post.comments.count > 1 %> <%= @post.comments.count %> COMMENTS <% elsif @post.comments.count == 1 %> <%= @post.comments.count %> COMMENT <% else %> 0 COMMENT<% end %></div>
  <hr>
  <% if (comments = @post.comments.approved).any? %>
    <%= render :partial => "comment", :collection => comments %>
  <% else %>
    <p>
      <%= t('none', :scope => 'refinery.blog.shared.comments') %>.
    </p>
  <% end %>

  <% flash.each do |key, value| %>
    <div id='flash' class="flash flash_<%= key %>">
      <%= value %>
    </div>
  <% end %>
  
<div class="join_conversation">
  <h4>Join the conversation</h4></div><hr>
  <%= form_for [refinery, :blog, @comment] do |f| %>
    <%= render :partial => "/refinery/admin/error_messages",
               :locals => {
                 :object => f.object,
                 :include_object_name => true
               } %>
    <div class='field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='field'>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class='field message_field'>
      <%= f.label :message %>
      <%= f.text_area :message, :rows => 6 %>
    </div>
    <div class='field form-actions'>
      <%= f.submit t('submit', :scope => 'refinery.blog.posts.show') %>
    </div>
  <% end %>
</aside>
