<% content_for :body do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>

  <% if Refinery::Blog::Post.comments_allowed? %>
  <div class="social-api left large-12 columns">
    <h6>Share this: </h6>
    <%= social_share_button_tag(@post.title) %>
    <hr>
      <h6>Like this: </h6>
<a href="https://twitter.com/share" class="twitter-share-button" data-url=<%= "http://nabthat.com/blog/posts/"+ @post.slug %> data-via="NabthatLA" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-like" data-href=<%= "http://nabthat.com/blog/posts/"+ @post.slug %> data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div>

  </div>

    <%= render 'comments'%>

  <% end %>
<% end %>

<%= render :partial => '/refinery/blog/shared/body_content_right' %>

<%= render :partial => "/refinery/content_page", :locals => { :remove_automatic_sections => true }  %>

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
<% content_for :javascripts do %>
  <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
  <%#= javascript_include_tag('refinery/blog/frontend') %>
  <script src="http://w.sharethis.com/button/buttons.js"></script>
  <script>stLight.options({publisher:'<%= Blog::Post::ShareThis.key %>'});</script>
<% end if Refinery::Blog::Post::ShareThis.enabled? %>
