<%# render '/refinery/content_page' %>
<div class="bodycontainer">
<div class="slideshow">
  <div class="row">
    <div class="pbn">
      <%= image_tag "pbn.png" %>
    </div>
  </div>
</div>
<hr>
<!--
<div id="wrapper">
  <div id="list">
    <% @pages.each do |p| %>
      <div class=" large-3 columns blog-block item left">
        <h4><a><%= link_to p.title, p.slug %></a></h4>
        <% content = sanitize(p.content_for(:body).to_s) %>
        <%= truncate_html(content, :length => 150)  %><%= link_to "Read more", p.slug %>
      </div>

    <%end%>
  </div>
  </div>
-->
<div id="wrapper">
  <div id="list">
    <% @blogpost.each do |p| %>
      <div class="large-3 small-block-grid-1 columns blog-block left item">
        <h4><a><%= link_to p.title, "/blog/posts/"+p.slug %></a></h4>
        <% content = sanitize(p.body.to_s) %>
        <%= truncate_html(content, :length => 150)  %><%= link_to "Read more", "/blog/posts/"+p.slug %>
      </div>
    <%end%>
  </div>
</div>
</div>