<%# render '/refinery/content_page' %>
<div class="bodycontainer">
<div class="slideshow">
    <div class="pbn">
      <%= image_tag "pbn_banner.png" %>
    </div>
</div>
<!--
<div id="wrapper">
  <div id="list">
    <% @pages.each do |p| %>
      <div class=" large-3 columns blog-block item left">
        <h4><a><%= link_to p.title, p.slug %></a></h4>
        <% content = sanitize(p.content_for(:body).to_s) %>
        <%= truncate_html(content, :length => 150)  %><%= link_to "Read more", p.slug %>
      </div>

    <%end%>
  </div>
  </div>
-->
<div  class="large-12 ">
  <div id="list">
    <% @blogpost.each do |p| %>
      <div class="large-3 small-block-grid-1 blog-block left item">
        <div class="blog-block-heading"><h2><a><%= link_to p.title, "/blog/posts/"+p.slug %></a></h2></div>
        <div class="blog-block-content"><% content = sanitize(p.body.to_s) %>
        <%= truncate_html(content, :length => 150)  %></div>
        <div class="blog-block-meta">
        <% if p.comments.count > 0 %> <i class="icon-comment"></i> <%= p.comments.count %>  <% else %><i class="icon-comment"></i> 0 <% end %>
        <%= link_to "Read more", "/blog/posts/"+p.slug, :class => "right read-more" %>
      </div>
      </div>
    <%end%>
  </div>
</div>
</div>
