<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @counter_bid.user_id %>
</p>

<p>
  <b>Bid:</b>
  <%= @counter_bid.bid_id %>
</p>

<p>
  <b>Buy:</b>
  <%= @counter_bid.buy %>
</p>

<p>
  <b>Lease:</b>
  <%= @counter_bid.lease %>
</p>

<p>
  <b>Finance:</b>
  <%= @counter_bid.finance %>
</p>

<p>
  <b>Monthly payment:</b>
  <%= @counter_bid.monthly_payment %>
</p>

<p>
  <b>Down payment:</b>
  <%= @counter_bid.down_payment %>
</p>

<p>
  <b>No of month:</b>
  <%= @counter_bid.no_of_month %>
</p>

<p>
  <b>Comment:</b>
  <%= @counter_bid.comment %>
</p>

<p>
  <b>Save:</b>
  <%= @counter_bid.save %>
</p>

<p>
  <b>Max miles:</b>
  <%= @counter_bid.max_miles %>
</p>

<p>
  <b>Bid time:</b>
  <%= @counter_bid.bid_time %>
</p>

<p>
  <b>Confirmation no:</b>
  <%= @counter_bid.confirmation_no %>
</p>


<%= link_to 'Edit', edit_counter_bid_path(@counter_bid) %> |
<%= link_to 'Back', counter_bids_path %>
