<%= form_for(@bid) do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :buy %><br />
    <%= f.check_box :buy %>
  </div>
  <div class="field">
    <%= f.label :lease %><br />
    <%= f.check_box :lease %>
  </div>
  <div class="field">
    <%= f.label :finance %><br />
    <%= f.check_box :finance %>
  </div>
  <div class="field">
    <%= f.label :monthly_payment %><br />
    <%= f.number_field :monthly_payment %>
  </div>
  <div class="field">
    <%= f.label :down_payment %><br />
    <%= f.number_field :down_payment %>
  </div>
  <div class="field">
    <%= f.label :no_of_month %><br />
    <%= f.number_field :no_of_month %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :save_bid %><br />
    <%= f.check_box :save_bid %>
  </div>
  <div class="field">
    <%= f.label :max_miles %><br />
    <%= f.text_field :max_miles %>
  </div>
  <div class="field">
    <%= f.label :bid_time %><br />
    <%= f.text_field :bid_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
