
<div class="slideshow">
  <div class="row">
    <div class="pbn">
      <%= image_tag "pbn.png" %>
    </div>
  </div>
</div>
<div class="large-12 columns">
  <div class="docs header">
    <h2>Latest Blogs</h2>
  </div>
  <ul class="left small-block-grid-1 large-block-grid-3">
    <% @top_pages.each do |p| %>
    <li class="">
      <div class="blog-block">
        <h4><a><%= link_to p.title, "/blog/"+p.slug %></a></h4>
        <% content = sanitize(p.content_for(:body).to_s) %>
        <%= truncate_html(content, :length => 150)  %><%= link_to "Read more", "/blog/"+p.slug %>
      </div>
    </li>
    <%end%>
  </ul>
    <ul class="left large-12 columns">
    <% @bottom_pages.each do |p| %>
    <li class="">
      <div class="blog-block">
        <h4><a><%= link_to p.title, "/blog/"+p.slug %></a></h4>
        <% content = sanitize(p.content_for(:body).to_s) %>
        <%= truncate_html(content, :length => 150)  %><%= link_to "Read more", "/blog/"+p.slug %>
              <div class="social-api right">
      <%= social_share_button_tag(p.title) %>
    </div>

      </div>
    </li>
    <%end%>
  </ul>
</div>