<div class="sign_in_page">
    <div class="dash_header">

    <h1>Member Login</h1>
  </div>
    <div class="sign_in_header">
    </div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row left_20 sign_in_form large-4">
<div class="large-9 columns left left_50px"><br />
  <h3 style="margin-left:50px">Login</h3>
  
  <%= f.email_field :email, :placeholder => "Email address", :class => "sign_in_input" %></div>

  <div class="large-9 columns left left_50px"><br />
  <%= f.password_field :password, :placeholder => "Password", :class => "sign_in_input" %></div>

  <div class="large-7 left"><%= f.submit "Login", :class => "medium button success radius large-8 push-6" %></div>
  </div>
<% end %>
<div class="large-7 left">
  <div class="social_links">
<%= render "social_links" %>
</div>
</div>
</div>
