<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Nabthat" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="off-canvas hide-extras" style="zoom: 1;" cz-shortcut-listen="true">
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=181236315390623";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container  home-border">
<div class="attached contain-to-grid sticky">
<nav class="top-bar " style="margin-bottom: 0px;">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="http://192.241.225.72:3000"><%= image_tag "logo.png" %></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

<!--End mc_embed_signup-->
      
    <section class="top-bar-section right">
      <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif;  width:400px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    #mc_embed_signup .mc-field-group label {padding-right: 10px;  float: left; padding-top: 3px;}
    #mc_embed_signup .mc-field-group input {
width: 75%;
top: 1px;
}
        #mc_embed_signup .button {
width: 100px !important;
top: 1px;
padding: 1px !important;
float: right;
font-size: 14px;
height: 28px !important;
line-height: 0px !important;
margin: 0 4px 10px 0 !important;
}
</style>
<div id="mc_embed_signup">
<form action="http://udproducts.us7.list-manage.com/subscribe/post?u=8e6646b5fd5bcb18a7c473965&amp;id=1c62236664" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	
</form>
</div>

      <!-- Right Nav Section 
        <ul class="right">
          <li class="divider"></li>
          <li class=""><a href="">Find Cars</a></li>
          <li class="divider"></li>
          <li class=""><a href="">Find Dealers</a></li>
          <li class="divider"></li>
          <li class=""><a href="">Contacts</a></li>
          <li class="divider"></li>
          <li class=""><a href="/blog">Blog</a></li>
          <li class="divider"></li>
        </ul>
        -->
      </section></nav>
        	</div>
  </div>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
